---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

export async function getStaticPaths() {
    const posts = await Astro.glob('./posts/*.md');

    return posts.map(post => ({
        params: {
            slug: post.frontmatter.slug
        },
        props: {
            post
        }
    }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
    <section class="page-content">
        <div class="container">
            <Card>
                <a class="btn" href="/blog">Go Back</a>
                <h2>{frontmatter.title}</h2>
                <div>
                    Written by <strong>{frontmatter.author} </strong>
                    on {new Date(frontmatter.date).toLocaleDateString()}
                </div>
                <Content />
            </Card>
        </div>
    </section>
</Layout>

<style>
    .btn {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background: #333;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }

    .page-content { margin: 20px 0; }
    .page-content h2, .page-content h3 { margin: 20px 0; }
    .page-content h2 { font-size: 40px; }
    .page-content h3 { font-size: 25px; }
</style>